<header ngClass>
    <div class="snap-center shrink-0">
        <div class="w-[400px] bg-white shadow-xl hover:shadow-2xl transition-all duration-300 hover:-translate-y-1">
          <div class="p-8">
            <div class="mb-8">
              <span>
                {{text().challenge}}
              </span>
            </div>
            <h1>
                {{text().name}}
            </h1>
            <p>
                {{text().description}}
            </p>
          </div>
          <div>
            <p >
                {{text().example}}
            </p>
          </div>
        </div>
      </div>

</header>  

