<header class="flex overflow-x-auto snap-x snap-mandatory gap-6 p-6 w-full">
    <div class="snap-center shrink-0">
        <div class="w-[300px] sm:w-[350px] md:w-[400px] dark:bg-[#282828] shadow-xl hover:shadow-2xl 
        transition-transform duration-300 hover:-translate-y-1 rounded-lg p-8 h-[425px] justify-center items-center">
          <div class="pb-8">
            <div class="mb-3 text-center font-bold">
              <span class="text-3xl">
                {{text().challenge}}
              </span>
            </div>
            <h1 class="text-center text-[1.5rem] mb-6"> 
                {{text().name}}
            </h1>
            <p class="mb-4 text-lg">
                {{text().description}}
            </p>
            <p class="text-lg">
                {{text().example}}
            </p>
          </div>
        </div>
      </div>

</header>  

