<app-menu></app-menu>
<link rel="stylesheet" href="sponsors.component.css">
<div class="sponsors">
  <h1 class="title">Our Sponsors</h1>

  <div class="tier partners">
    <h2>Partners</h2>
    <div class="logos">
      <img src="../../../assets/logos/microsoft_logo.png" alt="Microsoft Logo"/>
      <img src="../../../assets/logos/google_logo.png" alt="Google Logo"/>
    </div>
  </div>

  <div class="tier platinum">
    <h2>Platinum Sponsors</h2>
    <div class="logos">
      <img src="../../../assets/logos/Kyndryl_Logo.jpg" alt="Kyndryl Logo" />
      <img src="../../../assets/logos/dayforce_logo.png" alt="Dayforce Logo" />
    </div>
  </div>

  <div class="tier gold">
    <h2>Gold Sponsors</h2>
    <div class="logos">
      <!-- Add Gold Sponsors Here -->
    </div>
  </div>

  <div class="tier silver">
    <h2>Silver Sponsors</h2>
    <div class="logos">
      <img src="../../../assets/logos/science_council_logo.jpeg" alt="Science Council Logo" />
    </div>
  </div>

  <div class="tier bronze">
    <h2>Bronze Sponsors</h2>
    <div class="logos">
      <img src="../../../assets/logos/brilliant_catalyst_logo.png" alt="Brilliant Catalyst Logo" />
      <img src="../../../assets/logos/faculty-of-science.png" alt="Faculty of Science Logo" />
    </div>
  </div>
</div>
