<header>

    <div class="footer bg-zinc-100">

        <div class="logo">
            <h3>OTU Computer Science Club</h3>
        </div>

        <div class="socials"> 
            <ul>
                <li><a href="https://www.linkedin.com/company/otu-cs-club" target="_blank">linkedin</a></li>
                <li><a href="https://www.instagram.com/otu.csclub/" target="_blank">insta</a></li>
                <li><a href="https://x.com/OTUcsclub" target="_blank">twitter</a></li>
                <li><a href="mailto:otu.csclub@gmail.com?subject=%5BINQUIRY%5D%20-%20HackHive%202025" target="_blank">email</a></li>
            </ul>
        </div>

    </div>

</header>
