<section>

    <div class="font-semibold flex justify-around text-2xl fill-[var(--foreground-secondary)]">
        <div class="flex flex-row gap-6 py-6">
            <h1>OTU Computer Science Club</h1>
        </div>

        <div class="socials"> 
            <ul class="hidden sm:flex flex-row items-center links">
                <li><a href="https://www.linkedin.com/company/otu-cs-club/" target="_blank"><p [innerHTML]="linkedin"></p></a></li>
                <li><a href="https://www.instagram.com/otu.csclub/" target="_blank"><p [innerHTML]="instagram"></p></a></li>
                <li><a href="https://x.com/OTUcsclub/" target="_blank"><p [innerHTML]="x"></p></a></li>
                <li><a href="mailto:otu.csclub@gmail.com?subject=%5BINQUIRY%5D%20-%20HackHive%202025" target="_blank"><p [innerHTML]="email"></p></a></li>
            </ul>
        </div>
    </div>

</section>
