.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Add some padding for spacing */
    position: relative; /* Relative positioning */
    width: 100%; /* Ensure it spans the full width */
    bottom: 0; /* Aligns the footer to the bottom */
}

.logo {
    flex: 0 0 auto; /* Ensures the logo stays on the left */
    padding-left: 10px;
}

.socials ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 20px;
}

.socials ul li {
    margin-left: 20px; /* Spacing between menu items */
}

.socials ul li a {
    text-decoration: none;
    color: inherit; /* Maintain text color */
}
