.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  /* Aligns the footer to the bottom */
  left: 0;
  /* Aligns the footer to the left */
  color: #212529;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 0 0 auto; /* Ensures the logo stays on the left */
  padding-left: 10px;
}

.socials ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-right: 20px;
  text-decoration: none;
  color: #495057;
  margin-right: 15px;
  transition: color 0.2s;
}

.socials ul li {
  margin-left: 20px; /* Spacing between menu items */
}

.socials ul li a {
  text-decoration: none;
  color: inherit; /* Maintain text color */
  transition: color 0.5s; /* Smooth color transition */
}

/* .socials ul li a:hover {
  color: var(--background); 
  transition: color 0.5s; 
} */

@media (max-width: 768px)  {
  
  .socials {
    display: none;
  }

}


