.sponsor-card.top{
    
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 900px;
    padding: 0 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
}

.sponsor-card.top img{
    max-width: 300px;
    object-fit: contain;
    margin-right: 16px;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
}

.sponsor-card.other {
    background-color: #282828;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 10px;
    width: auto;
    overflow: hidden;
    border-radius: 20px;
}

.sponsor-card.other:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px); 
}

.sponsor-card.other img {
    max-height: 120px;
    min-width: 200px; 
    object-fit: cover;
}

@media (max-width: 1023px) {

    .sponsor-card.top {
        flex-direction: column;
        align-items: center;
        min-width: 250px;
        max-width: 75vw;
        padding: auto;
    }

    .sponsor-card.top img {
        max-width: 250px;
        margin-right: 0;
        margin-bottom: 16px;
    }
    
}




