<header>

    <div class="menu-bar">

        <div class="logo">
            <a routerLink="/">HackHive</a>
        </div>

        <div class="links">
            <ul>
                <li><a routerLink="/" routerLinkActive="selected">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="selected">HackHive 2025</a></li>
                <li><a routerLink="/sponsors" routerLinkActive="selected">Sponsors</a></li>
                <li><a routerLink="/register" routerLinkActive="selected">Register</a></li>            
            </ul>
        </div>
    </div>
</header>