<header>

    <div className="menu-bar">

        <div className="logo">
            <a routerLink="/">HackHive</a>
        </div>

        <div classNmae="links">
            <ul>
                <li><a routerLink="/" routerLinkActive="selected">Home</a></li>
                <li><a routerLink="/theme" routerLinkActive="selected">Theme</a></li>
                <li><a routerLink="/sponsors" routerLinkActive="selected">Our Sponsors</a></li>
                <li><a routerLink="/register" routerLinkActive="selected">Register</a></li>            
            </ul>
        </div>

    </div>

</header>