.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; /* Add some padding for spacing */
    background-color: beige;
    border-bottom: #000;
}

.logo {
    flex: 0 0 auto; /* Ensures the logo stays on the left */
    padding-left: 20px;
}

.links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 20px;
    overflow: hidden; /* Prevent overflow */
}

.links ul li {
    margin-left: 0; /* Remove spacing between menu items */
}

.links li a p svg {
    display: inline-block;
    width: 60px;
    height: 60px;
    transition: fill 0.3s ease-in-out; /* Smooth transition */
}

.links li a:hover p svg {
    transition: fill 0.3s ease-in-out; /* Smooth transition */
}