<header>
    <form class="flex flex-col bg-zinc-200 dark:bg-[#282828] p-4 rounded-xl shadow-sm gap-4" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
            <label class="pb-2" for="name">NAME</label>
            <input class="bg-zinc-100 dark:bg-[var(--background)] drop-shadow-md" type="text" id="name" name="name" formControlName="name"/>
            <!-- <div *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].dirty || isValid || contactForm.controls['name'].touched)">
                <span class="text-red-700 font-medium text-sm" *ngIf="contactForm.controls['name'].errors?.['required']">* Name is required</span>
            </div> -->
            @if (nameValid) {
                <span class="text-red-700 font-medium text-sm">* Name is required</span>
            }
        </div>

        <div class="flex flex-col">
            <label class="pb-2" for="email">EMAIL</label>
            <input class="bg-zinc-100 dark:bg-[var(--background)]  drop-shadow-md" type="email" id="email" name="email" formControlName="email"/>
            <!-- <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || isValid || contactForm.controls['email'].touched)">
                <span class="text-red-700 font-medium text-sm" *ngIf="contactForm.controls['email'].errors?.['required']">* Email is required</span>
                <span class="text-red-700 font-medium text-sm" *ngIf="contactForm.controls['email'].errors?.['email']">* Invalid email</span>
            </div> -->
            @if (emailValid) {
                <span class="text-red-700 font-medium text-sm">* Please enter a valid email address</span>
            }
        </div>
        
        <div class="flex flex-col">
            <label class="pb-2" for="message">MESSAGE</label>
            <textarea class="bg-zinc-100 dark:bg-[var(--background)]  drop-shadow-md" name="message" formControlName="message"></textarea>
            <!-- <div *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['name'].dirty || isValid || contactForm.controls['name'].touched)">
                <span class="text-red-700 font-medium text-sm" *ngIf="contactForm.controls['name'].errors?.['required']">* Message content is required</span>
            </div> -->
            @if (messageValid) {
                <span class="text-red-700 font-medium text-sm">* Message content is required</span>
            }
        </div>

        <button class="submit-btn" type="submit" [class.valid]="contactForm.valid">Submit</button>

    </form>
</header>


