<div class="container max-w-5xl mx-auto m-8mt-8">
    <p class="w-full my-2 text-5xl font-bold leading-tight pb-5">
      HackHive 2025 Itinerary
    </p>
    <h1 class="bg-yellow-400 text-yellow-900 text-2xl font-semibold px-8 py-2 mb-2 w-fit">
      Feburary 7-9, 2025
    </h1>
    <div class="flex py-3">
        <svg class="w-12 h-12 m-3 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
        </svg>
        <div class="flex flex-col">
          <p class="text-gray-700 text-2xl pt-2">Ontario Tech University</p>
          <a href="https://maps.app.goo.gl/ze14Bemr7Akhz1gY9?g_st=com.google.maps.preview.copy" target="_blank">
            <p class="text-gray-500 underline text-xl pt-1">2000 Simcoe St N, Oshawa, ON L1G 0C5</p>
          </a>
          <span class="text-gray-500">2000 Simcoe St N, Oshawa, ON L1G 0C5</span>
        </div>
    </div>
    <div>
        <div class="flex items-center mb-2">
            <svg class="w-10 h-10 mx-4 text-yellow-500 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
            </svg>
            <p class="text-gray-700 text-2xl">Programs</p>
        </div>
        <div class="flex flex-wrap gap-2 mb-8 pt-3">
          <a href="#" class="bg-yellow-100 text-yellow-800 transition hover:bg-yellow-500 hover:text-yellow-900 text-lg px-3 py-2 rounded-full">Computer Science</a>
          <a href="#" class="bg-yellow-100 text-yellow-800 transition hover:bg-yellow-500 hover:text-yellow-900 text-lg px-3 py-2 rounded-full">Software Engineering</a>
          <a href="#" class="bg-yellow-100 text-yellow-800 transition hover:bg-yellow-500 hover:text-yellow-900 text-lg px-3 py-2 rounded-full">IT & Networking</a>
          <a href="#" class="bg-yellow-100 text-yellow-800 transition hover:bg-yellow-500 hover:text-yellow-900 text-lg px-3 py-2 rounded-full">Business</a>
          <a href="#" class="bg-yellow-100 text-yellow-800 transition hover:bg-yellow-500 hover:text-yellow-900 text-lg px-3 py-2 rounded-full">Game Development</a>
          <a href="#" class="bg-yellow-100 text-yellow-800 transition hover:bg-yellow-500 hover:text-yellow-900 text-lg px-3 py-2 rounded-full">Marketing</a>
        </div>
    </div>

    <div>
      <h2 class="w-full my-2 text-4xl font-bold leading-tight pb-5">Schedule: </h2>
      <div class="flex flex-col gap-4">
        <app-expandable
        [title]="'Day One'"
        [description]="'Feburary 7 | 6:30 to 10pm'"
        [expandableTitle]="'Schedule'"
        [expandableContent]="[
            { title: '6:30 to 7pm', details: ['Opening Ceremonies'] },
        ]">
        </app-expandable>
        <app-expandable
          [title]="'Day Two'"
          [description]="'Feburary 7 | 6:30 to 10pm'"
          [expandableTitle]="'Schedule'"
          [expandableContent]="[
              { title: '6:30 to 7pm', details: ['Opening Ceremonies'] },
          ]">
        </app-expandable>
        <app-expandable
          [title]="'Day Three'"
          [description]="'Feburary 7 | 6:30 to 10pm'"
          [expandableTitle]="'Schedule'"
          [expandableContent]="[
              { title: '6:30 to 7pm', details: ['Opening Ceremonies'] },
          ]">
        </app-expandable>
      </div>
    </div>
  <section>
    <add-to-calendar-button
      name="HackHive 2025"
      description="Add link to schedule"
      startDate="2025-02-07"
      startTime="19:00"
      endDate="2025-02-09"
      endTime="17:00"
      timeZone="America/Toronto"
      location="Ontario Tech University"
      options="'Apple','Google','Outlook.com','Microsoft365'"
    ></add-to-calendar-button>

  </section>

</div>


