@media (max-width: 1023px) {

    .hero {

        flex-direction: column-reverse;
        gap: 0;
        padding: 0rem 2rem 2rem 2rem;
    }

    .text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .buttons button {

        padding: 0.5rem 2rem;

    }

    .icon svg {
        width: 200px;
        height: auto;
    }

}