.carousel {
    position: relative;
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto;
    overflow: hidden; 
}

.slides-container {
    display: flex; 
    transition: transform 0.5s ease-in-out; 
    width: 100%; 
}

.slide {
    flex: 0 0 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    font-size: 100px;
    cursor: pointer;
    z-index: 5;
    padding: -50px;
}

.nav-button.left {
    left: 10px;
}
  
.nav-button.right {
    right: 10px;
}

.nav-button.left.end, .nav-button.right.end {
    color: #ccc;
    cursor: not-allowed;
} 

.nav-buttons.hide {
    display: none;
}

@media (max-width: 767px) {

    .nav-button {
        top: 5%;
        font-size: 50px;
    }

    .nav-button.left {
        left: -2px;
    }

    .nav-button.right {
        right: -2px;
    }

}

