@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #43287518;
    --background-secondary: #43287518;
    --foreground: #f0f0f7;
    --foreground-hover: #ffe600;
    --foreground-secondary: #18181b;
    --foreground-secondary-hover: #ffe600;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1d1622;
      --background-secondary: #1b1a22;
      --foreground: #ffffff;
      --foreground-hover: #e9c2f5;
      --foreground-secondary: #e7e7fa;
      --foreground-secondary-hover: #7946f0;
    }
}
  