@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffc400;
    --background-secondary: #432875;
    --foreground: #07004b;
    --foreground-hover: #ffe600;
    --foreground-secondary: #18181b;
    --foreground-secondary-hover: #ffe600;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1d1622;
      --background-secondary: #1d1622;
      --foreground: #ffffff;
      --foreground-hover: #e9c2f5;
      --foreground-secondary: #e7e7fa;
      --foreground-secondary-hover: #7946f0;
    }
}
  