<div class=" dark:bg-[#282828] group cursor-pointer w-[90vw] rounded-xl">
  <div class="p-6 shadow-lg rounded-lg" (click)="toggleExpand()">
    <h3 class="text-2xl font-bold mb-4">{{ title }}</h3>
    @if(scoringSheet.length > 0) {
      <div class="flex justify-center">
        <a class=" bg-[var(--background)] text-white font-medium py-2 px-4 rounded-full hover:bg-purple-500" [href]="scoringSheet" target="_blank">Scoring Sheet</a>
      </div>
    }
    <p class="my-4">{{ description }}</p>
    <ul class="list-disc ml-6 ">
      @for (point of points; track $index) {
        <li class="mb-2">
          <strong>{{ point.title }}:</strong> {{ point.details }}
        </li>
      }
    </ul>
  </div>

  <!-- Expandable content -->
  @if (isExpanded) {
    <div class="overflow-hidden rounded-lg shadow-xl
    transition-all duration-300 ease-in-out">
      <div class="p-6">
        <h4 class="font-bold mb-4">{{ expandableTitle }}</h4>
        <ol class="list-decimal ml-6 space-y-4">
          @for (item of expandableContent; track $index) {
            <li class="list-none">
              <strong>{{ item.title }}:</strong>
              <ul class="list-disc ml-6 mt-2 list-none">
                @for (subItem of item.details; track $index) {
                  <li>{{ subItem }}</li>
                }
              </ul>
            </li>
          }
        </ol>
      </div>
    </div>
  }

</div>
  