<div class="countdown-container">
  <div class="hex-grid countdown">
    <!-- Main Countdown Hexagons -->
    <div class="hex large">
      <span class="digit">{{ timeLeft.days }}</span>
      <small>Days</small>
    </div>
    <div class="hex large">
      <span class="digit">{{ timeLeft.hours }}</span>
      <small>Hours</small>
    </div>
    <div class="hex large">
      <span class="digit">{{ timeLeft.minutes }}</span>
      <small>Minutes</small>
    </div>
    <div class="hex large">
      <span class="digit">{{ timeLeft.seconds }}</span>
      <small>Seconds</small>
    </div>
  </div>
</div>


